
.container-fluid{
    background-color: rgb(243, 117, 71);
    text-align: center;
    color: whitesmoke;
    border-radius: 100px;
    
    
}

.color1{
    color: whitesmoke;
    background-color: #7CCF59 ;
    border-radius: 100px;
}

.color2{
    color: aliceblue;
    background-color:#FF0000;
    border-radius: 100px;
    /* font-size: large; */
}


.color3{
    color: black;
    border-radius: 20px;
    font-size: large;
}

.color4 {
    background-color: #FF0000;
    color: antiquewhite;
    border-radius: 40px;
    width: 80px;
    height: 50px;
}

.color4:hover{
    background-color: #640303;
}



.card-text{
    color:  #FF3300;
    /* font-size: 20px; */
    font-weight: 100%;
}

.title{
    color: #7CCF59;
    font-size: 80px;
}
