.signincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 700px; */
}

.vtv {
    /* background-color: rgb(233, 214, 187); */
    color: rgb(179, 0, 0);
    font-style: oblique;
    font-size: 25px;
    border-radius: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 290px;



}

.vtv1 {
    /* background-color: rgb(223, 209, 188); */
    font-style: italic;

    color: rgb(34, 5, 139);
    width: 300px;
    height: 40px;
    border-radius: 110px;

}

.vtv1:hover {
    background-color: rgb(189, 119, 15);
    color: yellow;
}

#bbb {
    color: black;
    /* background-color: rgb(223, 209, 188); */
    border: none;

    width: 350px;
    height: 550px;


    box-shadow: 0 0 11px 0 rgb(2, 247, 2);
}

.one {
    margin-right: 200px;
    font-size: 20px;
}



#font {
    font-size: 16px;

}