.signincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color:rgb(218, 236, 252);
    
}

.vtv {
    /* background-color: rgb(233, 214, 187); */
    color: rgb(179, 0, 0);
    font-style: oblique;
    font-size: 25px;
    border-radius: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 290px;


}



.btn{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    padding: 2rem 4rem;
    border-radius: 1rem;
    border: none;
    color: whitesmoke;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;

    
    
}
.effect{
color:black;

}
.btn:hover{
    box-shadow:0 0 5px yellow,
    0 0 25px yellow,0 0 50px yellow,
    0 0 100px yellow, 0 0 200px yellow;

}

#bbb {
    color: rgb(245, 238, 238);
    background-color: rgb(248, 234, 234);
    border: none;

    width: 350px;
    height: 550px;


    box-shadow: 0 0 11px 0 rgb(2, 247, 2);
}


.one {
    margin-right: 200px;
    font-size: 20px;
}



#font {
    font-size: 16px;

}